<%include head.ejs%>
<div id="collection">
		<h1>归档</h1>

<%
	var all_month = [];
    var _unique = function(obj){
        return obj.filter(function(item,idx){
                return obj.indexOf(item) === idx;
        })
    }

    for(var j = 0 ; j < posts.length ; j++){
    	all_month.push(posts[j].time.substr(0,7));
	}

	all_month = _unique(all_month).sort();


    for(var i = all_month.length - 1 ; i >= 0 ; i--){
%>
		<div class="collection_item">

			<div class="collection_time">
				<%=all_month[i].substr(0,4)%>年<%=all_month[i].substr(5,3)%>月
			</div>
			<ul class="collection_content">
<%
	posts.forEach(function(post,index){
			if(post.time.substr(0,7) == all_month[i]){
%>
			<li>
				<p>
						<a href= "/artical_detiail/<%=post.user%>/<%=post.id%>"><%=post.title %>　　　　<span>(<%=post.time%>)</span></a>
				</p>
			</li>
<%
     }
	})
%>
</ul>
</div>
<%
}
%>
</div>
<%include foot.ejs%>
