<footer>
    <p class="footer_copyright">©<span class="year">2018 </span><a href="/idx/0">文享日志</a> By<a href="/login" class="foot_manage">手可摘星辰</a></p>
    <p><a href="/sitemap.xml" target="_blank">站点地图</a>
        <span id="cnzz_stat_icon_1272813456"><a href="http://www.cnzz.com/stat/website.php?web_id=1272813456" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a></span></p>
    <p><a href="http://www.miitbeian.gov.cn/" target="_blank">晋ICP备17000375号</a></p>
</footer>
</div>
<div class="rightNav">
    <div class="hotArtical">
        <h2>热门文章</h2>
        <div class="articalList">
            <div class="scrollBox">
                <ul>
                    <%
                    var count = 1;
                    for(var z = 0 ; z < _clicks.length && count <= 10; z++){
                    for(var ia = 0 ; ia < _posts.length ; ia++){
                    if(_clicks[z].id === _posts[ia].id){

                    %>
                        <li><span><%=count%><span>、<a href="/artical_detiail/<%=_posts[ia].user%>/<%=_posts[ia].id%>"><%=_posts[ia].title%></a></li>
                    <%
                        count++;}
                    }
                    }
                    %>
                </ul>
            </div>
        </div>
    </div>

    <div class="tagNav">
        <h2>标签列表</h2>
        <%
        var tagList = [];
        _posts.forEach(function(post){
        post.tags.forEach(function(tag){
        if(tagList.indexOf(tag) < 0){
        %>
        <a href="/tags/<%=tag%>" class="tagPanel"><%=tag%></a>
        <%
            tagList.push(tag);
        }
        });
        });
        %>
    </div>
    <div class="ad">
        <h2>广告展示</h2>
        <a href="https://cloud.tencent.com/redirect.php?redirect=1005&cps_key=6d9e1f6149d9d689a4c18cb1730073c0" target="_blank"><img src="/images/云服务器250-250.jpg" alt="腾讯云推广"></a>

        <a href="https://s.click.taobao.com/YShOkRw" target="_blank"><img src="/images/250-200.jpg" alt="阿里云推广"></a>
    </div>

</div>

</div>
</div>

<script>
    //右侧悬浮广告
    var rightWrapHeight = getComputedStyle(document.querySelector(".right_wrap"),false)['height'];
    document.getElementsByClassName("rightNav")[0].style.height = rightWrapHeight ;
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1272813456'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272813456%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>